@model TenantManagement.Models.LoginModel
<span style="font-family: inherit;">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:400,300,700,500,100' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
            /*height: 650px;*/
            background-color: #23437C;
        }

        .helper {
            font-family: Times New Roman;
            font-style: normal;
            /*height: 650px;*/
            margin: 0px;
            padding: 0px;
        }

        .formCss {
            align-items: center;
            align-content: center;
            background-color: blue;
            margin-left: 30%;
            margin-top: 20%;
        }

        .textboxStyle {
            font-family: Roboto;
            font-style: normal;
            background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.10));
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 6px;
            color: white;
            height: 3vw;
            width: 18vw;
            font-size: 1.4vw;
            text-align: center;
            background: -webkit-linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.10));
        }

        .rectangle {
            width: 15vw;
            height: 3.9vw;
            background: none;
            border: 1px solid #d9d9d9;
            border-radius: 50px;
            color: #d9d9d9;
            margin-top: 20px;
            font-size: 1.3vw;
        }

        h1, h4, h5, label {
            font-family: Roboto !important;
            color: white;
            font-weight: 100 !important;
        }

        h1 {
            font-size: 2.3vw;
        }

        h4 {
            font-size: 1.4vw;
        }

        label {
            font-size: 1.7vw;
        }

        h5 {
            font-size: 1.2vw;
        }

        #image {
            height: 6vw;
            width: 12.5vw;
        }
    </style>
    </span>

<div class="helper" align="center">
    <div align="center" style="margin-top:100px">
        <h1>WELCOME to Vision2Reality</h1>
        <label style="color:red;font-size:18px;"> @ViewBag.CompanyLoginError </label>
        <h4>Please enter your Username...! </h4>
        @using (Html.BeginForm("UsernameValidation", "Home", FormMethod.Post))
        {
            <div style="margin-left:-74px;">
                <label for="company">UserName :</label>
                @Html.TextBoxFor(m => m.userName, new { @class = "textboxStyle", placeholder = "UserName" })
            </div>
            <div>
                <br />
                <input type="submit" value="Continue" class="rectangle">
            </div>

        }
    </div>
</div>
