
<style type="text/css">
    body {
        padding: 0;
        margin: 0;
        /*height: 650px;*/
        background-color: #383838;
    }

    .helper {
        font-family: Times New Roman;
        font-style: normal;
        /*height: 650px;*/
        margin: 0px;
        padding: 0px;
    }

    .formCss {
        align-items: center;
        align-content: center;
        background-color: blue;
        margin-left: 30%;
        margin-top: 20%;
    }

    .textboxStyle {
        font-family: Roboto;
        font-style: normal;
        background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.10));
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 6px;
        color: white;
        height: 3vw;
        width: 28vw;
        font-size: 1.4vw;
        text-align: center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.10));
    }

    .rectangle {
        width: 21vw;
        height: 3.9vw;
        background: none;
        border: 1px solid #d9d9d9;
        border-radius: 50px;
        color: #d9d9d9;
        margin-top: 20px;
        font-size: 1.3vw;
    }

    h1, h4, h5, label {
        font-family: Roboto !important;
        color: white;
        font-weight: 100 !important;
    }

    h1 {
        font-size: 2.3vw;
    }

    h4 {
        font-size: 1.4vw;
    }

    label {
        font-size: 1.7vw;
    }

    h5 {
        font-size: 1.2vw;
    }

    #image {
        height: 6vw;
        width: 12.5vw;
    }
</style>
<div align="center">
    <div align="center" style="margin-top:100px">
        <img id="image" src="~/images/SiftGridWireframeLogo.png" />
        <h1 style="color:red;">Please Enter Valid URL Address</h1>
        <h3 style="color:red;">Please make sure the Domain Url</h3>
    </div>
</div>
