<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TenantManagementApp</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>

</head>
<body>
    <my-app>Loading...</my-app>
    <script type="text/javascript" src="/polyfills.bundle.js"></script>
    <script type="text/javascript" src="/vendor.bundle.js"></script>
    <script type="text/javascript" src="/app.bundle.js"></script>
</body>
</html>
